@import "tailwindcss";
.back-img {
  width: 100%;
  background: url("/assets/image/background.png") no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: scroll;
  margin-top: -250px;
}
