@import "tailwindcss";
.back-img {
  width: 100%;
  height: 3000px;
  background: url("/assets/image/background.png") no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  margin-top: -150px;
}
