@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/font/linter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* .card {
  width: 300px;
  height: 420px;
  background: rgba(255, 255, 255, 0.05);

  border: 2px solid;
  border-image: linear-gradient(90deg, #ff00cc, #3333ff, #00ffcc) 1;
  border-radius: 60px;

  backdrop-filter: blur(25px) saturate(120%) brightness(1.2);

  clip-path: path("M 0 0 L 60 0 Q 150 20 230 0 L 300 0 L 300 420 L 0 420 Z");
} */
.card {
  position: relative;
  width: 350px;
  height: 400px;
  background: rgba(1, 1, 1, 0);
  backdrop-filter: blur(15px) saturate(120%) brightness(0.8);
  clip-path: path("M 0 0 L 60 0 Q 200 40 290 0 L 350 0 L 350 400 L 0 400 Z");
  padding: 1px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(
    85deg,
    rgba(86, 86, 86, 0.527),
    rgba(32, 237, 0, 0),
    rgba(253, 253, 253, 0.34)
  );
  clip-path: inherit;
  border-radius: inherit;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.card1 {
  position: relative;

  background: rgba(1, 1, 1, 0);
  backdrop-filter: blur(5px) saturate(120%) brightness(0.8);
  padding: 1px;
}

.card1::before {
  content: "";
  position: absolute;
  border-radius: inherit; /*  مقدار radius رو از کارت1 می‌گیره */

  inset: 0;
  padding: 2px;
  background: linear-gradient(
    85deg,
    rgba(86, 86, 86, 0.527),
    rgba(32, 237, 0, 0),
    rgba(253, 253, 253, 0.34)
  );
  clip-path: inherit;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
